.addshipping {
  margin: 20px;
  border: 0.3px solid rgb(221, 215, 215);
  padding: 15px;
  border-radius: 5px;

  .name {
    color: rgb(255, 140, 0);
    font-weight: bold;
  }

  .form {
    position: relative;
    left: 270px;
  }

  .btn {
    font-weight: bold;
    margin-left: 400px;
    background-color: rgb(65, 105, 225);
    border: none;
    color: white;
    padding: 8px 12px;
    font-size: 15px;
    cursor: pointer;
  }

  .btn:hover {
    color: whitesmoke;
    background-color: rgb(70, 72, 75);
  }

  .fa {
    margin-right: 6px;
  }
}
